<div class="container">
  <div class="commands-container">
    <div class="grid-block">
      <div class="grid-lg-1-3">
        <h2>{{__ 'global.title'}}</h2>
        <ul>
          <li>
            <kbd>:h[elp] {{__ 'words.keyword'}}</kbd> - {{{__ 'global.commands.helpForKeyword'}}}
          </li>
          <li>
            <kbd>:sav[eas] {{__ 'words.file'}}</kbd> - {{{__ 'global.commands.saveAsFile'}}}
          </li>
          <li>
            <kbd>:clo[se]</kbd> - {{__ 'global.commands.closePane'}}
          </li>
          <li>
            <kbd>:ter[minal]</kbd> - {{__ 'global.commands.colonTerminal'}}
          </li>
          <li>
            <kbd>K</kbd> - {{__ 'global.commands.K'}}
          </li>
        </ul>
        <div class="well">
          <strong>Tip</strong> {{{__ 'global.tip1'}}}
        </div>
        <h2>{{__ 'cursorMovement.title'}}</h2>
        <ul>
          <li>
            <kbd>h</kbd> - {{__ 'cursorMovement.commands.h'}}
          </li>
          <li>
            <kbd>j</kbd> - {{__ 'cursorMovement.commands.j'}}
          </li>
          <li>
            <kbd>k</kbd> - {{__ 'cursorMovement.commands.k'}}
          </li>
          <li>
            <kbd>l</kbd> - {{__ 'cursorMovement.commands.l'}}
          </li>
          <li>
            <kbd>gj</kbd> - {{__ 'cursorMovement.commands.gj'}}
          </li>
          <li>
            <kbd>gk</kbd> - {{__ 'cursorMovement.commands.gk'}}
          </li>
          <li>
            <kbd>H</kbd> - {{__ 'cursorMovement.commands.H'}}
          </li>
          <li>
            <kbd>M</kbd> - {{__ 'cursorMovement.commands.M'}}
          </li>
          <li>
            <kbd>L</kbd> - {{__ 'cursorMovement.commands.L'}}
          </li>
          <li>
            <kbd>w</kbd> - {{__ 'cursorMovement.commands.w'}}
          </li>
          <li>
            <kbd>W</kbd> - {{__ 'cursorMovement.commands.W'}}
          </li>
          <li>
            <kbd>e</kbd> - {{__ 'cursorMovement.commands.e'}}
          </li>
          <li>
            <kbd>E</kbd> - {{__ 'cursorMovement.commands.E'}}
          </li>
          <li>
            <kbd>b</kbd> - {{__ 'cursorMovement.commands.b'}}
          </li>
          <li>
            <kbd>B</kbd> - {{__ 'cursorMovement.commands.B'}}
          </li>
          <li>
            <kbd>ge</kbd> - {{__ 'cursorMovement.commands.ge'}}
          </li>
          <li>
            <kbd>gE</kbd> - {{__ 'cursorMovement.commands.gE'}}
          </li>
          <li>
            <kbd>%</kbd> - {{{__ 'cursorMovement.commands.percent'}}}
          </li>
          <li>
            <kbd>0</kbd> - {{__ 'cursorMovement.commands.zero'}}
          </li>
          <li>
            <kbd>^</kbd> - {{__ 'cursorMovement.commands.caret'}}
          </li>
          <li>
            <kbd>$</kbd> - {{__ 'cursorMovement.commands.dollar'}}
          </li>
          <li>
            <kbd>g_</kbd> - {{__ 'cursorMovement.commands.g_'}}
          </li>
          <li>
            <kbd>gg</kbd> - {{__ 'cursorMovement.commands.gg'}}
          </li>
          <li>
            <kbd>G</kbd> - {{__ 'cursorMovement.commands.G'}}
          </li>
          <li>
            <kbd>5gg</kbd> or <kbd>5G</kbd> - {{__ 'cursorMovement.commands.fiveG'}}
          </li>
          <li>
            <kbd>gd</kbd> - {{__ 'cursorMovement.commands.gd'}}
          </li>
          <li>
            <kbd>gD</kbd> - {{__ 'cursorMovement.commands.gD'}}
          </li>
          <li>
            <kbd>fx</kbd> - {{__ 'cursorMovement.commands.fx'}}
          </li>
          <li>
            <kbd>tx</kbd> - {{__ 'cursorMovement.commands.tx'}}
          </li>
          <li>
            <kbd>Fx</kbd> - {{__ 'cursorMovement.commands.Fx'}}
          </li>
          <li>
            <kbd>Tx</kbd> - {{__ 'cursorMovement.commands.Tx'}}
          </li>
          <li>
            <kbd>;</kbd> - {{__ 'cursorMovement.commands.semicolon'}}
          </li>
          <li>
            <kbd>,</kbd> - {{__ 'cursorMovement.commands.comma'}}
          </li>
          <li>
            <kbd>}</kbd> - {{__ 'cursorMovement.commands.closeCurlyBrace'}}
          </li>
          <li>
            <kbd>{</kbd> - {{__ 'cursorMovement.commands.openCurlyBrace'}}
          </li>
          <li>
            <kbd>zz</kbd> - {{__ 'cursorMovement.commands.centerCursor'}}
          </li>
          <li>
            <kbd>zt</kbd> - {{__ 'cursorMovement.commands.topCursor' }}
          </li>
          <li>
            <kbd>zb</kbd> - {{__ 'cursorMovement.commands.bottomCursor' }}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>e</kbd> - {{__ 'cursorMovement.commands.CtrlPluse'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>y</kbd> - {{__ 'cursorMovement.commands.CtrlPlusy'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>b</kbd> - {{__ 'cursorMovement.commands.CtrlPlusb'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>f</kbd> - {{__ 'cursorMovement.commands.CtrlPlusf'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>d</kbd> - {{__ 'cursorMovement.commands.CtrlPlusd'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>u</kbd> - {{__ 'cursorMovement.commands.CtrlPlusu'}}
          </li>
        </ul>
        <div class="well">
          <strong>Tip</strong>
          {{{__ 'cursorMovement.tip'}}}
        </div>
        <h2>{{__ 'insertMode.title'}}</h2>
        <ul>
          <li>
            <kbd>i</kbd> - {{__ 'insertMode.commands.i'}}
          </li>
          <li>
            <kbd>I</kbd> - {{__ 'insertMode.commands.I'}}
          </li>
          <li>
            <kbd>a</kbd> - {{__ 'insertMode.commands.a'}}
          </li>
          <li>
            <kbd>A</kbd> - {{__ 'insertMode.commands.A'}}
          </li>
          <li>
            <kbd>o</kbd> - {{__ 'insertMode.commands.o'}}
          </li>
          <li>
            <kbd>O</kbd> - {{__ 'insertMode.commands.O'}}
          </li>
          <li>
            <kbd>ea</kbd> - {{__ 'insertMode.commands.ea'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>h</kbd> - {{__ 'insertMode.commands.ctrlPlush'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>w</kbd> - {{__ 'insertMode.commands.ctrlPlusw'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>j</kbd> - {{__ 'insertMode.commands.ctrlPlusj'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>t</kbd> - {{__ 'insertMode.commands.ctrlPlust'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>d</kbd> - {{__ 'insertMode.commands.ctrlPlusd'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>n</kbd> - {{__ 'insertMode.commands.ctrlPlusn'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>p</kbd> - {{__ 'insertMode.commands.ctrlPlusp'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>rx</kbd> - {{__ 'insertMode.commands.ctrlPlusrx'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>ox</kbd> - {{__ 'insertMode.commands.ctrlPlusox'}}
          </li>
          <li>
            <kbd>Esc</kbd> or <kbd>Ctrl</kbd> + <kbd>c</kbd> - {{__ 'insertMode.commands.Esc'}}
          </li>
        </ul>
      </div>
      <div class="grid-lg-1-3">
        <h2>{{__ 'editing.title'}}</h2>
        <ul>
          <li>
            <kbd>r</kbd> - {{__ 'editing.commands.r'}}
          </li>
          <li>
            <kbd>R</kbd> - {{{__ 'editing.commands.R'}}}
          </li>
          <li>
            <kbd>J</kbd> - {{__ 'editing.commands.J'}}
          </li>
          <li>
            <kbd>gJ</kbd> - {{__ 'editing.commands.gJ'}}
          </li>
          <li>
            <kbd>gwip</kbd> - {{__ 'editing.commands.gwip'}}
          </li>
          <li>
            <kbd>g~</kbd> - {{__ 'editing.commands.gTilde'}}
          </li>
          <li>
            <kbd>gu</kbd> - {{{__ 'editing.commands.gu'}}}
          </li>
          <li>
            <kbd>gU</kbd> - {{{__ 'editing.commands.gU'}}}
          </li>
          <li>
            <kbd>cc</kbd> - {{__ 'editing.commands.cc'}}
          </li>
          <li>
            <kbd>c$</kbd> or <kbd>C</kbd> - {{__ 'editing.commands.cDollar'}}
          </li>
          <li>
            <kbd>ciw</kbd> - {{__ 'editing.commands.ciw'}}
          </li>
          <li>
            <kbd>cw</kbd> or <kbd>ce</kbd> - {{__ 'editing.commands.cw'}}
          </li>
          <li>
            <kbd>s</kbd> - {{__ 'editing.commands.s'}}
          </li>
          <li>
            <kbd>S</kbd> - {{{__ 'editing.commands.S'}}}
          </li>
          <li>
            <kbd>xp</kbd> - {{__ 'editing.commands.xp'}}
          </li>
          <li>
            <kbd>u</kbd> - {{__ 'editing.commands.u'}}
          </li>
          <li>
            <kbd>U</kbd> - {{__ 'editing.commands.U'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>r</kbd> - {{__ 'editing.commands.CtrlPlusr'}}
          </li>
          <li>
            <kbd>.</kbd> - {{__ 'editing.commands.dot'}}
          </li>
        </ul>
        <h2>{{__ 'markingText.title'}}</h2>
        <ul>
          <li>
            <kbd>v</kbd> - {{__ 'markingText.commands.v'}}
          </li>
          <li>
            <kbd>V</kbd> - {{__ 'markingText.commands.V'}}
          </li>
          <li>
            <kbd>o</kbd> - {{__ 'markingText.commands.o'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>v</kbd> - {{__ 'markingText.commands.CtrlPlusv'}}
          </li>
          <li>
            <kbd>O</kbd> - {{__ 'markingText.commands.O'}}
          </li>
          <li>
            <kbd>aw</kbd> - {{__ 'markingText.commands.aw'}}
          </li>
          <li>
            <kbd>ab</kbd> - {{__ 'markingText.commands.ab'}}
          </li>
          <li>
            <kbd>aB</kbd> - {{__ 'markingText.commands.aB'}}
          </li>
          <li>
            <kbd>at</kbd> - {{__ 'markingText.commands.at'}}
          </li>
          <li>
            <kbd>ib</kbd> - {{__ 'markingText.commands.ib'}}
          </li>
          <li>
            <kbd>iB</kbd> - {{__ 'markingText.commands.iB'}}
          </li>
          <li>
            <kbd>it</kbd> - {{__ 'markingText.commands.it'}}
          </li>
          <li>
            <kbd>Esc</kbd> or <kbd>Ctrl</kbd> + <kbd>c</kbd> - {{__ 'markingText.commands.Esc'}}
          </li>
        </ul>
        <div class="well">
          <strong>Tip</strong> {{{__ 'markingText.tip1'}}}
        </div>
        <h2>{{__ 'visualCommands.title'}}</h2>
        <ul>
          <li>
            <kbd>&#62;</kbd> - {{__ 'visualCommands.commands.greaterThan'}}
          </li>
          <li>
            <kbd>&#60;</kbd> - {{__ 'visualCommands.commands.lessThan'}}
          </li>
          <li>
            <kbd>y</kbd> - {{__ 'visualCommands.commands.y'}}
          </li>
          <li>
            <kbd>d</kbd> - {{__ 'visualCommands.commands.d'}}
          </li>
          <li>
            <kbd>~</kbd> - {{__ 'visualCommands.commands.tilde'}}
          </li>
          <li>
            <kbd>u</kbd> - {{__ 'visualCommands.commands.u'}}
          </li>
          <li>
            <kbd>U</kbd> - {{__ 'visualCommands.commands.U'}}
          </li>
        </ul>
        <h2>{{__ 'registers.title'}}</h2>
        <ul>
          <li>
            <kbd>:reg[isters]</kbd> - {{__ 'registers.commands.show'}}
          </li>
          <li>
            <kbd>"xy</kbd> - {{__ 'registers.commands.yankIntoRegisterX'}}
          </li>
          <li>
            <kbd>"xp</kbd> - {{__ 'registers.commands.pasteRegisterX'}}
          </li>
          <li>
            <kbd>"+y</kbd> - {{__ 'registers.commands.quotePlusy'}}
          </li>
          <li>
            <kbd>"+p</kbd> - {{__ 'registers.commands.quotePlusp'}}
          </li>
        </ul>
        <div class="well">
          <strong>Tip</strong> {{__ 'registers.tip1'}}
        </div>
        <div class="well">
          <strong>Tip</strong> {{__ 'registers.tip2.title'}}
          <p>
            &emsp;<kbd>0</kbd> - {{{__ 'registers.tip2.0'}}}<br/>
            &emsp;<kbd>&quot;</kbd> - {{{__ 'registers.tip2.quote'}}}<br/>
            &emsp;<kbd>%</kbd> - {{{__ 'registers.tip2.percent'}}}<br/>
            &emsp;<kbd>#</kbd> - {{{__ 'registers.tip2.hashtag'}}}<br/>
            &emsp;<kbd>*</kbd> - {{{__ 'registers.tip2.asterisk'}}}<br/>
            &emsp;<kbd>+</kbd> - {{{__ 'registers.tip2.plus'}}}<br/>
            &emsp;<kbd>/</kbd> - {{{__ 'registers.tip2.slash'}}}<br/>
            &emsp;<kbd>:</kbd> - {{{__ 'registers.tip2.colon'}}}<br/>
            &emsp;<kbd>.</kbd> - {{{__ 'registers.tip2.dot'}}}<br/>
            &emsp;<kbd>-</kbd> - {{{__ 'registers.tip2.minus'}}}<br/>
            &emsp;<kbd>=</kbd> - {{{__ 'registers.tip2.equal'}}}<br/>
            &emsp;<kbd>_</kbd> - {{{__ 'registers.tip2.underscore'}}}<br/>
          </p>
        </div>
        <h2>{{__ 'marks.title'}}</h2>
        <ul>
          <li>
            <kbd>:marks</kbd> - {{__ 'marks.commands.list'}}
          </li>
          <li>
            <kbd>ma</kbd> - {{__ 'marks.commands.currentPositionA'}}
          </li>
          <li>
            <kbd>`a</kbd> - {{__ 'marks.commands.jumpPositionA'}}
          </li>
          <li>
            <kbd>y`a</kbd> - {{__ 'marks.commands.yankToMarkA'}}
          </li>
          <li>
            <kbd>`0</kbd> - {{__ 'marks.commands.backtick0'}}
          </li>
          <li>
            <kbd>`"</kbd> - {{__ 'marks.commands.backtickQuote'}}
          </li>
          <li>
            <kbd>`.</kbd> - {{__ 'marks.commands.backtickDot'}}
          </li>
          <li>
            <kbd>``</kbd> - {{__ 'marks.commands.backtickBacktick'}}
          </li>
          <li>
            <kbd>:ju[mps]</kbd> - {{__ 'marks.commands.colonjumps'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>i</kbd> - {{__ 'marks.commands.ctrlPlusi'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>o</kbd> - {{__ 'marks.commands.ctrlPluso'}}
          </li>
          <li>
            <kbd>:changes</kbd> - {{__ 'marks.commands.colonchanges'}}
          </li>
          <li>
            <kbd>g,</kbd> - {{__ 'marks.commands.gcomma'}}
          </li>
          <li>
            <kbd>g;</kbd> - {{__ 'marks.commands.gsemicolon'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>]</kbd> - {{__ 'marks.commands.ctrlPlusCloseSquare'}}
          </li>
        </ul>
        <div class="well">
          <strong>Tip</strong> {{{__ 'marks.tip1'}}}
        </div>
      </div>
      <div class="grid-lg-1-3">
        <h2>{{__ 'macros.title'}}</h2>
        <ul>
          <li>
            <kbd>qa</kbd> - {{__ 'macros.commands.recordA'}}
          </li>
          <li>
            <kbd>q</kbd> - {{__ 'macros.commands.stopRecording'}}
          </li>
          <li>
            <kbd>@a</kbd> - {{__ 'macros.commands.runA'}}
          </li>
          <li>
            <kbd>@@</kbd> - {{__ 'macros.commands.rerun'}}
          </li>
        </ul>
        <h2>{{__ 'cutAndPaste.title'}}</h2>
        <ul>
          <li>
            <kbd>yy</kbd> - {{__ 'cutAndPaste.commands.yy'}}
          </li>
          <li>
            <kbd>2yy</kbd> - {{__ 'cutAndPaste.commands.twoyy'}}
          </li>
          <li>
            <kbd>yw</kbd> - {{__ 'cutAndPaste.commands.yw'}}
          </li>
          <li>
            <kbd>yiw</kbd> - {{__ 'cutAndPaste.commands.yiw'}}
          </li>
          <li>
            <kbd>yaw</kbd> - {{__ 'cutAndPaste.commands.yaw'}}
          </li>
          <li>
            <kbd>y$</kbd> or <kbd>Y</kbd> - {{__ 'cutAndPaste.commands.yDollar'}}
          </li>
          <li>
            <kbd>p</kbd> - {{__ 'cutAndPaste.commands.p'}}
          </li>
          <li>
            <kbd>P</kbd> - {{__ 'cutAndPaste.commands.P'}}
          </li>
          <li>
            <kbd>gp</kbd> - {{__ 'cutAndPaste.commands.gp'}}
          </li>
          <li>
            <kbd>gP</kbd> - {{__ 'cutAndPaste.commands.gP'}}
          </li>
          <li>
            <kbd>dd</kbd> - {{__ 'cutAndPaste.commands.dd'}}
          </li>
          <li>
            <kbd>2dd</kbd> - {{__ 'cutAndPaste.commands.twodd'}}
          </li>
          <li>
            <kbd>dw</kbd> - {{__ 'cutAndPaste.commands.dw'}}
          </li>
          <li>
            <kbd>diw</kbd> - {{__ 'cutAndPaste.commands.diw'}}
          </li>
          <li>
            <kbd>daw</kbd> - {{__ 'cutAndPaste.commands.daw'}}
          </li>
          <li>
            <kbd>:3,5d</kbd> - {{__ 'cutAndPaste.commands.threeToFiveD'}}
          </li>
        </ul>
        <div class="well">
          <strong>Tip</strong> {{__ 'cutAndPaste.tip1.title'}} <br>
          e.g. <br>
          <p>
            <kbd>:.,$d</kbd> - {{__ 'cutAndPaste.tip1.commands.dotCommaDollarD'}} <br>
            <kbd>:.,1d</kbd> - {{__ 'cutAndPaste.tip1.commands.dotCommaOneD'}} <br>
            <kbd>:10,1d</kbd> - {{__ 'cutAndPaste.tip1.commands.tenCommaOneD'}} <br>
          </p>
        </div>
        <ul>
          <li>
            <kbd>:g/{pattern}/d</kbd> - {{__ 'cutAndPaste.commands.gPatternD'}}
          </li>
          <li>
            <kbd>:g!/{pattern}/d</kbd> - {{__ 'cutAndPaste.commands.gNotPatternD'}}
          </li>
          <li>
            <kbd>d$</kbd> or <kbd>D</kbd> - {{__ 'cutAndPaste.commands.dDollar'}}
          </li>
          <li>
            <kbd>x</kbd> - {{__ 'cutAndPaste.commands.x'}}
          </li>
        </ul>
        <h2>{{__ 'indentText.title'}}</h2>
        <ul>
          <li>
            <kbd>&#62;&#62;</kbd> - {{__ 'indentText.commands.greaterThanGreaterThan'}}
          </li>
          <li>
            <kbd>&#60;&#60;</kbd> - {{__ 'indentText.commands.lessThanLessThan'}}
          </li>
          <li>
            <kbd>&#62;%</kbd> - {{__ 'indentText.commands.greaterThanPercent'}}
          </li>
          <li>
            <kbd>&#60;%</kbd> - {{__ 'indentText.commands.lessThanPercent'}}
          </li>
          <li>
            <kbd>&#62;ib</kbd> - {{__ 'indentText.commands.greaterThanib'}}
          </li>
          <li>
            <kbd>&#62;at</kbd> - {{__ 'indentText.commands.greaterThanat'}}
          </li>
          <li>
            <kbd>3==</kbd> - {{__ 'indentText.commands.3=='}}
          </li>
          <li>
            <kbd>=%</kbd> - {{__ 'indentText.commands.=Percent'}}
          </li>
          <li>
            <kbd>=iB</kbd> - {{__ 'indentText.commands.=iB'}}
          </li>
          <li>
            <kbd>gg=G</kbd> - {{__ 'indentText.commands.gg=G'}}
          </li>
          <li>
            <kbd>]p</kbd> - {{__ 'indentText.commands.closeSquarep'}}
          </li>
        </ul>
        <h2>{{__ 'exiting.title'}}</h2>
        <ul>
          <li>
            <kbd>:w</kbd> - {{__ 'exiting.commands.colonw'}}
          </li>
          <li>
            <kbd>:w !sudo tee %</kbd> - {{__ 'exiting.commands.colonwsudo'}}
          </li>
          <li>
            <kbd>:wq</kbd> or <kbd>:x</kbd> or <kbd>ZZ</kbd> - {{__ 'exiting.commands.colonwq'}}
          </li>
          <li>
            <kbd>:q</kbd> - {{__ 'exiting.commands.colonq'}}
          </li>
          <li>
            <kbd>:q!</kbd> or <kbd>ZQ</kbd> - {{__ 'exiting.commands.colonqbang'}}
          </li>
          <li>
            <kbd>:wqa</kbd> - {{__ 'exiting.commands.colonwqa'}}
          </li>
        </ul>
        <h2>{{__ 'searchAndReplace.title'}}</h2>
        <ul>
          <li>
            <kbd>/pattern</kbd> - {{__ 'searchAndReplace.commands.forwardSlashPattern'}}
          </li>
          <li>
            <kbd>?pattern</kbd> - {{__ 'searchAndReplace.commands.questionMarkPattern'}}
          </li>
          <li>
            <kbd>\vpattern</kbd> - {{__ 'searchAndReplace.commands.backslashVpattern'}}
          </li>
          <li>
            <kbd>n</kbd> - {{__ 'searchAndReplace.commands.n'}}
          </li>
          <li>
            <kbd>N</kbd> - {{__ 'searchAndReplace.commands.N'}}
          </li>
          <li>
            <kbd>:%s/old/new/g</kbd> -
            {{__ 'searchAndReplace.commands.colonPercentForwardSlashOldForwardSlashNewForwardSlashg'}}
          </li>
          <li>
            <kbd>:%s/old/new/gc</kbd> -
            {{__ 'searchAndReplace.commands.colonPercentForwardSlashOldForwardSlashNewForwardSlashgc'}}
          </li>
          <li>
            <kbd>:noh[lsearch]</kbd> - {{__ 'searchAndReplace.commands.colonnoh'}}
          </li>
        </ul>
        <h2>{{__ 'searchMultipleFiles.title'}}</h2>
        <ul>
          <li>
            <kbd>:vim[grep] /pattern/ {`{file}`}</kbd> -
            {{__ 'searchMultipleFiles.commands.colonvimgrep'}}
          </li>
        </ul>
        <div class="well">
          e.g.
          <kbd>:vim[grep] /foo/ **/*</kbd>
        </div>
        <ul>
          <li>
            <kbd>:cn[ext]</kbd> - {{__ 'searchMultipleFiles.commands.coloncn'}}
          </li>
          <li>
            <kbd>:cp[revious]</kbd> - {{__ 'searchMultipleFiles.commands.coloncp'}}
          </li>
          <li>
            <kbd>:cope[n]</kbd> - {{__ 'searchMultipleFiles.commands.coloncopen'}}
          </li>
          <li>
            <kbd>:ccl[ose]</kbd> - {{__ 'searchMultipleFiles.commands.coloncclose'}}
          </li>
        </ul>
        <h2>{{__ 'tabs.title'}}</h2>
        <ul>
          <li>
            <kbd>:tabnew</kbd> or <kbd>:tabnew {page.words.file}</kbd> -
            {{__ 'tabs.commands.colonTabNew'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>wT</kbd> - {{__ 'tabs.commands.ctrlPluswT'}}
          </li>
          <li>
            <kbd>gt</kbd> or <kbd>:tabn[ext]</kbd> - {{__ 'tabs.commands.gt'}}
          </li>
          <li>
            <kbd>gT</kbd> or <kbd>:tabp[revious]</kbd> - {{__ 'tabs.commands.gT'}}
          </li>
          <li>
            <kbd>#gt</kbd> - {{__ 'tabs.commands.hashgt'}}
          </li>
          <li>
            <kbd>:tabm[ove] #</kbd> - {{__ 'tabs.commands.colontabmove'}}
          </li>
          <li>
            <kbd>:tabc[lose]</kbd> - {{__ 'tabs.commands.colontabc'}}
          </li>
          <li>
            <kbd>:tabo[nly]</kbd> - {{__ 'tabs.commands.colontabo'}}
          </li>
          <li>
            <kbd>:tabdo</kbd> command - {{{__ 'tabs.commands.colontabdo'}}}
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-lg-1-2">
        <h2>{{__ 'workingWithMultipleFiles.title'}}</h2>
        <ul>
          <li>
            <kbd>:e[dit] {{__ 'words.file'}}</kbd> - {{__ 'workingWithMultipleFiles.commands.colone'}}
          </li>
          <li>
            <kbd>:bn[ext]</kbd> -
            {{__ 'workingWithMultipleFiles.commands.colonbnext'}}
          </li>
          <li>
            <kbd>:bp[revious]</kbd> -
            {{__ 'workingWithMultipleFiles.commands.colonbprev'}}
          </li>
          <li>
            <kbd>:bd[elete]</kbd> - {{__ 'workingWithMultipleFiles.commands.colonbd'}}
          </li>
          <li>
            <kbd>:b[uffer]#</kbd> - {{__ 'workingWithMultipleFiles.commands.colonbnumber'}}
          </li>
          <li>
            <kbd>:b[uffer] file</kbd> - {{__ 'workingWithMultipleFiles.commands.colonbfile'}}
          </li>
          <li>
            <kbd>:ls</kbd> or <kbd>:buffers</kbd> - {{__ 'workingWithMultipleFiles.commands.colonls'}}
          </li>
          <li>
            <kbd>:sp[lit] {{__ 'words.file'}}</kbd> - {{__ 'workingWithMultipleFiles.commands.colonsp'}}
          </li>
          <li>
            <kbd>:vs[plit] {{__ 'words.file'}}</kbd> - {{__ 'workingWithMultipleFiles.commands.colonvsp'}}
          </li>
          <li>
            <kbd>:vert[ical] ba[ll]</kbd> - {{__ 'workingWithMultipleFiles.commands.colonvertba'}}
          </li>
          <li>
            <kbd>:tab ba[ll]</kbd> - {{__ 'workingWithMultipleFiles.commands.colontabba'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>ws</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPlusws'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>wv</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPluswv'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>ww</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPlusww'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>wq</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPluswq'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>wx</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPluswx'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>w=</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPlusw='}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>wh</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPluswh'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>wl</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPluswl'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>wj</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPluswj'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>wk</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPluswk'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>wH</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPluswH'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>wL</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPluswL'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>wJ</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPluswJ'}}
          </li>
          <li>
            <kbd>Ctrl</kbd> + <kbd>wK</kbd> - {{__ 'workingWithMultipleFiles.commands.ctrlPluswK'}}
          </li>
        </ul>
        </ul>
        </ul>
        </ul>
      </div>
      <div class="grid-lg-1-2">
        <h2>{{__ 'diff.title'}}</h2>
        <ul>
          <li>
            <kbd>zf</kbd> - {{__ 'diff.commands.zf'}}
          </li>
          <li>
            <kbd>zd</kbd> - {{__ 'diff.commands.zd'}}
          </li>
          <li>
            <kbd>za</kbd> - {{__ 'diff.commands.za'}}
          </li>
          <li>
            <kbd>zo</kbd> - {{__ 'diff.commands.zo'}}
          </li>
          <li>
            <kbd>zc</kbd> - {{__ 'diff.commands.zc'}}
          </li>
          <li>
            <kbd>zr</kbd> - {{__ 'diff.commands.zr'}}
          </li>
          <li>
            <kbd>zm</kbd> - {{__ 'diff.commands.zm'}}
          </li>
          <li>
            <kbd>zi</kbd> - {{__ 'diff.commands.zi'}}
          </li>
          <li>
            <kbd>]c</kbd> - {{__ 'diff.commands.closeSquarec'}}
          </li>
          <li>
            <kbd>[c</kbd> - {{__ 'diff.commands.openSquarec'}}
          </li>
          <li>
            <kbd>do</kbd> or <kbd>:diffg[et]</kbd> - {{__ 'diff.commands.do'}}
          </li>
          <li>
            <kbd>dp</kbd> or <kbd>:diffpu[t]</kbd> - {{__ 'diff.commands.dp'}}
          </li>
          <li>
            <kbd>:diffthis</kbd> - {{__ 'diff.commands.colonDiffthis'}}
          </li>
          <li>
            <kbd>:dif[fupdate]</kbd> - {{__ 'diff.commands.colonDiffupdate'}}
          </li>
          <li>
            <kbd>:diffo[ff]</kbd> - {{__ 'diff.commands.colonDiffoff'}}
          </li>
        </ul>
        <div class="well">
          <strong>Tip</strong> {{{__ 'diff.tip1'}}}
        </div>
        <div class="well">
          <strong>Tip</strong> {{{__ 'diff.tip2'}}}
        </div>
      </div>
    </div>
  </div>
</div>
