<!DOCTYPE html>
<html lang="{{__ 'lang_tag'}}">

<head>
  <meta charSet="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Vim Cheat Sheet</title>
  <link rel="shortcut icon" href="/images/icons/icon-48x48.png" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="theme-color" content="#FA4949" />
  <meta http-equiv="cache-control" content="max-age=600" />
  <meta name="description" content="Explore vim.rtorr.com for an extensive Vim cheat sheet, offering clear, concise commands and shortcuts for Vim users. Whether you're a beginner or an experienced developer, find tips and tricks to enhance your coding efficiency in Vim.">
  <link rel="apple-touch-icon" sizes="48x48" href="/images/icons/icon-48x48.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="96x96" href="/images/icons/icon-96x96.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="192x192" href="/images/icons/icon-192x192.png" />
  <link rel="apple-touch-icon" sizes="256x256" href="/images/icons/icon-256x256.png" />
  <link rel="apple-touch-icon" sizes="384x384" href="/images/icons/icon-384x384.png" />
  <link rel="apple-touch-icon" sizes="512x512" href="/images/icons/icon-512x512.png" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <div class="grid-block">
      <div class="grid-1">
        <h1>
          <a class="site-title" href="/">
            Vim Cheat Sheet
          </a>
        </h1>
      </div>
    </div>
    <div class="container">
      <main>{{{body}}}</main>
      <div>
        <div id="footer" class="grid-block">
          <div class="box">
            <div class="box-header">
              <h2>Additional Resources</h2>
            </div>
            <div class="box-body">
              <div class="grid-block">
                <div class="grid-lg-1-2">
                  <h3 id="languages">Languages</h3>
                  {{> languages this}}
                </div>
                <div class="grid-lg-1-2">
                  <h3>About the vim cheat sheet</h3>
                  <p>
                    This project aims to be one of the most accessible vim guides available. We
                    made sure to support mobile, desktop, and other
                    <a href="#languages" aria-label="Jump to languages section">languages</a>.
                  </p>
                  <p>
                    <a target="_blank" href="https://github.com/sponsors/rtorr" aria-label="Sponsor this project on GitHub">❤️ Please consider sponsoring this
                      project ❤️</a>!
                  </p>
                  <p>
                    You can read about how to contribute (and help improve) by viewing our
                    <a href="https://github.com/rtorr/vim-cheat-sheet/blob/master/README.md" target="_blank"
                      rel="noopener noreferrer" aria-label="Read the README on GitHub">
                      README
                    </a>
                    . There you can see how to set up this project, or how to contribute a new
                    language. Here is a big thank you to our
                    <a href="https://github.com/rtorr/vim-cheat-sheet/graphs/contributors" target="_blank"
                      rel="noopener noreferrer" aria-label="View project contributors on GitHub">
                      contributors!
                    </a>
                  </p>
                  <p>
                    This project is licensed under
                    <a href="https://github.com/rtorr/vim-cheat-sheet/blob/master/License.txt" target="_blank"
                      rel="noopener noreferrer" aria-label="View the MIT License for this project">
                      The MIT License (MIT)
                    </a>
                    .
                  </p>
                  <h3>Other places to find this document</h3>
                  <p>
                    This document was embedded in
                    <a href="https://duckduckgo.com/?q=vim+cheat+sheet" target="_blank" rel="noopener noreferrer" aria-label="Search for this document on DuckDuckGo">
                      DuckDuckGo
                    </a>
                    .
                  </p>
                  <h3>More resources</h3>
                  <p>
                    Interactive Vim tutorial:
                    <a href="https://openvim.com/" target="_blank" rel="noopener noreferrer" aria-label="Visit Open Vim for an interactive Vim tutorial">
                      Open Vim
                    </a>
                  </p>
                  <p>
                    Vim quick reference from Vim help pages:
                    <a href="https://vimhelp.org/quickref.txt.html" target="_blank" rel="noopener noreferrer" aria-label="Access Vim quick reference"> 
                      quickref.txt
                    </a>
                  </p>
                  <p>
                    List of all Vim ex (<kbd>:</kbd>) commands:
                    <a href="https://vimhelp.org/index.txt.html#ex-cmd-index" target="_blank" rel="noopener noreferrer" aria-label="View list of all Vim ex commands">
                      ex-cmd-index
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-block link-to-repo">
          <p>
            Checkout the source on
            <a href="https://github.com/rtorr/vim-cheat-sheet" target="_blank" rel="noopener noreferrer">
              Github
            </a>
          </p>
          <p>version: {{version}}</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.CACHE_NAME = "{{ version }}";

    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function () {
        navigator.serviceWorker.register('/javascripts/sw.js?version={{ version }}');
      });
    }
  </script>
</body>

</html>